flows.json
[{"id":"8b3ed14.6ab463","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2a786927.cc2a46","type":"ui_form","z":"8b3ed14.6ab463","name":"","label":"","group":"18ac75f3.66839a","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles ","value":"i","type":"number","required":true,"rows":null},{"label":" BMI ","value":"j","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"n","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":240,"y":300,"wires":[["b49d98a5.d4a458"]]},{"id":"b49d98a5.d4a458","type":"function","z":"8b3ed14.6ab463","name":"pre token","func":"//global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n//api key and tokening\n\nvar apikey = \"ihW3iyknK90VJny6SYyiVrajaUekOIJlqZT0lztgd-La\";\nmsg.headers = {\"content-type\": \"application/x-www-form-urlencoded\"};\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["4f7b6b09.c0d444"]]},{"id":"4f7b6b09.c0d444","type":"http request","z":"8b3ed14.6ab463","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":500,"y":120,"wires":[["6cc4c4fd.8cb46c"]]},{"id":"6cc4c4fd.8cb46c","type":"function","z":"8b3ed14.6ab463","name":"data input","func":"//grtting tokens and making headers\nvar token = msg.payload.access_token;\nvar instance_id = \"844b3eb7-a93c-49da-ae6e-109d4bc0496d\";\nmsg.headers = {'Content-Type':'application/json','Authorization':'Bearer '+token,'ML-Instance-ID':instance_id};\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//service endpoint\nmsg.payload = {\"input_data\":[{\"fields\":[\"Country\",\"Year\",\"Status\",\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"Measles \",\" BMI \",\"under-five deaths \",\"Polio\",\"Total expenditure\",\"Diphtheria \",\" HIV/AIDS\",\"GDP\",\"Population\",\" thinness  1-19 years\",\" thinness 5-9 years\",\"Income composition of resources\",\"Schooling\"],\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["710a912b.45e31"]]},{"id":"710a912b.45e31","type":"http request","z":"8b3ed14.6ab463","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/9c77b13e-a5b3-46a1-8fd9-e0992bcc558a/predictions","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":220,"wires":[["f91e8b8f.f2dba8","11ca4df2.5b7492"]]},{"id":"f91e8b8f.f2dba8","type":"debug","z":"8b3ed14.6ab463","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":380,"wires":[]},{"id":"11ca4df2.5b7492","type":"function","z":"8b3ed14.6ab463","name":"extract","func":"msg.payload = msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":140,"wires":[["5b044ace.5843c4","c90ccd05.fc58"]]},{"id":"5b044ace.5843c4","type":"ui_text","z":"8b3ed14.6ab463","group":"18ac75f3.66839a","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":280,"wires":[]},{"id":"c90ccd05.fc58","type":"debug","z":"8b3ed14.6ab463","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":80,"wires":[]},{"id":"18ac75f3.66839a","type":"ui_group","z":"","name":"Life expectancy predictor","tab":"6926ea3c.527f34","order":1,"disp":true,"width":"6","collapse":false},{"id":"6926ea3c.527f34","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]